@import '../login.component.scss';
@import 'variables';

.ghost-input {
  visibility: hidden;
}

.pwd-container {
  input,
  svg {
    height: 3.5rem;
  }
}

.email-container {
  margin-bottom: 7rem;
}

.toggle-pwd {
  cursor: pointer;
  border-bottom: 1px solid grey;
  width: 2.5rem;
  height: 33.5px;
  outline: none;
  &.error {
    border-color: $red;
  }
}

.service-error {
  .toggle-pwd {
    border-color: $red;
  }
}

#go-to-sign-up {
  font-size: 1.7rem !important;
}
