@import 'variables';
.navbar-container {
  height: calc(100vh - 47px);
  width: 75%;
  background-color: $light-grey;
  box-shadow: 2px 12px 10px rgba(0, 0, 0, 0.25);
}
.user-info {
  h2 {
    font-size: 18px;
    line-height: 22px;
    color: $dark;
  }
  a {
    font-size: 14px;
    line-height: 16px;
  }
}
ul {
  width: 100%;
  list-style: none;
  padding-inline-start: 0;
  z-index: 2;
  li {
    font-size: 1.6rem;
    line-height: 17px;
    color: $dark;
    padding: 20px;
    border-top: 1px solid #ddd;
    width: 100%;
    .select-commerce {
      max-width: 300px;
    }

    app-ka-select-country {
      position: relative;
      right: 1rem;
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
    color: $red;
  }
}
