<div class="row nav m-0">
  <div class="col-12">
    <app-ka-navbar class="w-100"></app-ka-navbar>
  </div>
</div>
<div class="row m-0">
  <div class="home col-12 scroll-grey">
    <div class="row name-container">
      <div class="col-12">
        <div class="profile d-flex align-items-center">
          <img alt="Comercio" src="../../../assets/media/comercio.png" />
          <p class="name">{{ user.firstName }} {{ user.lastName }}</p>
        </div>
      </div>
    </div>
    <div class="card bg-white d-flex justify-content-between p-5">
      <p class="title">{{ LANG_ROOT + 'TITLE' | translate }}</p>
      <p class="subtitle">{{ LANG_ROOT + 'SUBTITLE' | translate }} {{ user.email }}</p>
      <div class="actions">
        <button (click)="sendRecoverCode()" [disabled]="showInputs" [class]="showInputs ? 'btn-square-green' : 'btn-square-black'" id="profile-pass-send-code">
          {{ showInputs ? 'Enviado' : 'Enviar código' }}
        </button>
        <p *ngIf="!showInputs" routerLink="/main/mi-perfil" class="link" id="profile-pass-return">{{ LANG_ROOT_FORM + 'PROFILE_PASS_RETURN' | translate }}</p>
        <p *ngIf="showInputs" (click)="sendRecoverCode()" class="link mb-3" id="profile-pass-resend-code">
          {{ LANG_ROOT_FORM + 'PROFILE_PASS_RESEND' | translate }}
        </p>
      </div>
      <form [hidden]="!showInputs" [formGroup]="recoveryForm">
        <table aria-describedby="Editar clave" class="w-100">
          <tbody>
            <tr>
              <td>{{ LANG_ROOT_FORM + 'ENTER_CODE' | translate }}</td>
              <td>
                <input
                  formControlName="recoveryCode"
                  type="tel"
                  pattern="\d*"
                  minLength="6"
                  maxLength="6"
                  autocomplete="new-password"
                  (keydown)="onKeyDownCode($event)"
                />
                <div *ngIf="recoveryForm.controls.recoveryCode.touched && !recoveryForm.controls.recoveryCode.valid" class="invalid-feedback d-block">
                  <span *ngIf="recoveryForm.controls.recoveryCode.errors.required">{{ LANG_ROOT_FORM + 'ERRORS.REQUIRED' | translate }}</span>
                  <span *ngIf="recoveryForm.controls.recoveryCode.errors.pattern">{{ LANG_ROOT_FORM + 'ERRORS.PATTERN' | translate }}</span>
                  <span *ngIf="recoveryForm.controls.recoveryCode.errors.minlength"> {{ LANG_ROOT_FORM + 'ERRORS.MINLENGTH' | translate }}</span>
                </div>
              </td>
            </tr>
            <tr formGroupName="matchingPasswords">
              <td>{{ LANG_ROOT_MATCH_PWD + 'NEW_PASS' | translate }}</td>
              <td>
                <input formControlName="pwd" name="pwd" type="password" minlength="8" maxlength="16" (input)="trimValue($event)" autocomplete="new-password" />
                <div
                  *ngIf="recoveryForm.get('matchingPasswords')['controls'].pwd.touched && !recoveryForm.get('matchingPasswords')['controls'].pwd.valid"
                  class="invalid-feedback d-block"
                >
                  <span *ngIf="recoveryForm.get('matchingPasswords')['controls'].pwd.errors.required">{{ LANG_ROOT_MATCH_PWD + 'REQUIRED' | translate }}</span>
                  <span *ngIf="recoveryForm.get('matchingPasswords')['controls'].pwd.errors.pattern">{{ 'ERRORS.INVALID_PASSWORD' | translate }}</span>
                </div>
              </td>
            </tr>
            <tr formGroupName="matchingPasswords">
              <td>{{ LANG_ROOT_MATCH_PWD + 'CONFIRM_PASS' | translate }}</td>
              <td>
                <input
                  formControlName="confirmPwd"
                  name="confirmPwd"
                  class="last-input"
                  type="password"
                  minlength="8"
                  maxlength="16"
                  autocomplete="new-password"
                />
                <div *ngIf="recoveryForm.get('matchingPasswords')['controls'].confirmPwd.touched" class="invalid-feedback d-block">
                  <span *ngIf="recoveryForm.get('matchingPasswords').errors"> {{ LANG_ROOT_MATCH_PWD + 'ERROR_MATCH_PASS' | translate }} </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="actions d-flex justify-content-center">
          <p class="link text-dark strong mr-5 d-none d-lg-block" routerLink="/main/mi-perfil" id="profile-pass-return">
            {{ LANG_ROOT_MATCH_PWD + 'PROFILE_PASS_RETURN' | translate }}
          </p>
          <button (click)="confirmNewPass()" class="btn-square-black" id="profile-pass-confirm" [disabled]="!recoveryForm.valid">
            {{ LANG_ROOT_MATCH_PWD + 'PROFILE_SAVE_CHANGES' | translate }}
          </button>
          <p class="link text-dark strong d-block d-lg-none" routerLink="/main/mi-perfil" id="profile-pass-return">
            {{ LANG_ROOT_MATCH_PWD + 'PROFILE_PASS_RETURN' | translate }}
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
