@import 'variables';

.dot-step {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  border: solid 2px $red;
  @media (max-width: $sm) {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
}

.active {
  background-color: $red;
}
