// Colors
$black: #000;
$white: #fff;
$light: #fafafa;
$dark: #1a1a1a;

$grey: #eee;
$light-grey: #f7f7f7;
$grey-disable: #ddd;
$shadow-grey: #d3d3d3;
$dark-grey: #c4c4c4;
$dark-grey-bold: #494949;
$background-grey: #e5e5e5;

$light-red: #fce7e9;
$red: #de0b1c;
$dark-red: #9a0000;
$light-green: #def0dd;
$green: #46aa42;
$dark-green: #448342;
$dark-blue: #00003c;
$blue: #005eb1;
$light-blue: #90cbff;
$orange: #ff5c36;
$yellow: #ffa701;
$light-yellow: #fbf3da;

$shadow: 0px 4px 4px $grey;

// Breakpoints
$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1220px;
$xxl: 1440px;
$xxxl: 1660px;

//Fonts
$font-regular: 'Gotham Book', 'Helvetica Neue', sans-serif;
$font-medium: 'Gotham Medium', 'Helvetica Neue', sans-serif;
$font-bold: 'Gotham Bold', 'Helvetica Neue', sans-serif;
$font-material-icons :'Material Icons';
