@import 'variables';

:host {
  width: 100%;
}

.nav {
  background-color: $white;
  padding: 0;
  ::ng-deep {
    .navbar {
      background-color: transparent;
    }
  }
}
.home {
  height: calc(100vh - 53px);
  background-color: $light-grey;
  padding: 3rem 2rem;
  @media (max-width: $lg) {
    height: calc(100vh - 47px);
    background-color: $light-grey;
  }
  @media (max-width: $lg) {
    padding: 2rem;
  }
  .title {
    font-family: $font-bold;
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: $dark;
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4rem 0;
    .link {
      margin-left: 2rem;
    }
  }
  .profile {
    img {
      border-radius: 100%;
      max-width: 10rem;
    }
    .name {
      font-family: $font-bold;
      margin-left: 3rem;
      font-size: 2.2rem;
      line-height: 2.4rem;
      margin-bottom: 0;
    }
  }
  .card {
    .title {
      margin-bottom: 1.5rem;
    }
    .link {
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: $blue;
      margin-bottom: 0;
      cursor: pointer;
      &:active {
        outline: none;
      }
    }
    .dropdown {
      background-color: transparent;
      border: none;
      outline: none;
      .dropdown-item {
        font-size: 1.8rem;
        line-height: 2.2rem;
        padding: 1rem;
        &:active {
          background-color: transparent;
          outline: none;
          color: $dark;
        }
      }
    }
    select,
    option {
      background: $light-grey;
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      padding: 7.5px;
    }
    tr {
      th {
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-family: $font-bold;
        padding: 1.2rem;
      }
      td {
        font-size: 1.8rem;
        line-height: 2.2rem;
        padding: 0 1.5rem 0 1rem;
        input {
          background: $light-grey;
          border: none;
          border-radius: 3px;
          padding: 1rem;
          width: 100%;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
