<div class="card grey">
  <div class="d-flex flex-row align-items-center justify-content-between mb-5">
    <div>
      <p class="title">{{ 'HOME.MY_ORDER.NEW_ORDER' | translate }}</p>
      <p class="subtitle">{{ 'HOME.MY_ORDER.MAKE_FIRST_ORDER' | translate }}</p>
    </div>
  </div>
  <div class="d-flex flex-row align-items-center justify-content-center">
    <button [routerLink]="'/main/nuevo-pedido/'" class="p-3 px-5 text-center" id="home-other-orders">{{ 'HOME.MY_ORDER.START_MY_ORDER' | translate }}</button>
  </div>
</div>
