<div class="account-status">
  <svg class="mr-2"><use [attr.xlink:href]="'./assets/icons/tabler-sprite.svg#tabler-alert-triangle'" /></svg>
  <!--<p class="title">{{ 'MY_WALLET.STATUS.PENDING_PAYMENTS' | translate }}</p>
  <p class="subtitle">{{ 'MY_WALLET.STATUS.CALL_NUMBER' | translate }}</p>
  <p class="advice">{{ 'MY_WALLET.STATUS.PAYMENT_UPDATE' | translate }}</p>-->
  <p class="title mb-3">El estado de tu cuenta aun no está disponible.</p>
  <p class="subtitle">Contáctate con tu vendedor.</p>
</div>
