<app-ka-login-navbar (goStepBack)="returnHomeLogin()"></app-ka-login-navbar>

<div class="container d-flex justify-content-center align-items-center flex-wrap">
  <div class="header w-100 text-left">
    <h1 class="title-h1 w-100">
      Políticas de <br />
      privacidad
    </h1>
  </div>

  <div class="body w-100 text-left text">
    <p *ngFor="let item of privacyTerms" class="mb-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa molestie viverra elementum tellus amet. Mi quisque hendrerit non, mauris
      laoreet nunc dignissim. Orci quis feugiat amet cursus ultrices. Luctus enim tellus urna praesent cursus in praesent enim quis.
    </p>
  </div>

  <div class="footer w-100 text-center"></div>
</div>
