@import 'variables';

.modal-body {
  @media (min-width: $md) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  img {
    width: 17rem;
  }

  .title {
    font-size: 2.2rem;
  }
  .description {
    font-family: $font-regular;
    margin-top: 2rem;
    font-size: 1.6rem;
  }
}

.modal-footer {
  button {
    width: 25%;
    @media (max-width: $sm) {
      width: 45%;
    }
  }
}

.blocked-client {
  .modal-header {
    border-top: 11px $red solid !important;
    border-radius: 8px;
  }
  .title {
    font-family: $font-bold;
  }
  .modal-footer {
    border-bottom: 11px $red solid !important;
    border-radius: 8px;
    button {
      width: 50%;
      @media (max-width: $sm) {
        width: 100%;
      }
    }
  }
}
